.results {
    display: grid;
    gap: 10px;
    //grid-auto-columns: 1fr, 1fr, 1fr;
    grid-template-columns: repeat(3, minmax(250px, 1fr));

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            //
        }
    }
}
