/* Main container for the page contents */
.container {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  outline: none;
  padding: 1.5rem 1.5rem 8rem 1.5rem;

  &__header {
    display: flexbox;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &__main {
    grid-area: main;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &__footer {
    grid-area: footer;
    margin-top: 16px;
    margin-bottom: 16px;
  }

}