@import "../../App.scss";

.search {

    &__title {
        padding: 2rem 0;
    }

    &__form {
        max-width: 500px;
        position: relative;
    }

    &__icon {
        height: 100%;
        padding: 16px 0;
        left: 12px;
        position: absolute;
        top: 0;
    }

    &__icon:hover {
        cursor: pointer;
    }

    &__input {
        min-width: 500px;
        margin: auto;
        padding: 16px 8px 16px 64px;
        outline: none;
        font-size: 1.5em;
        background: $secondary;
        border: 1px solid $primary;
        border-radius: 4px;

        @media (max-width: $min_width) {
            width: 100%;
            min-width: 100px;
        }
    }
}

.bold {
    font-weight: bold;
}
