@import "../../App.scss";

.search {

    &__title {
        padding: 1rem 0;
    }

    &__form {
        padding: 1rem 0;
    }

    &__input {
        min-width: 500px;
        margin: auto;
        padding: 16px 8px;
        outline: none;
        font-size: 1.5em;
        background: $secondary;
        border: 1px solid $primary;
        border-radius: 4px;

        @media (max-width: 600px) {
            width: 100%;
            min-width: 100px;
        }
    }
}

.bold {
    font-weight: bold;
}
