@import "../../App.scss";

.search {
    &__input {
        //width: 100%;
        margin: auto;
        padding: 16px 8px;
        outline: none;
        font-size: 1.5em;
        background: $secondary;
        border: 1px solid $primary;
        border-radius: 4px;
    }
}

.bold {
    font-weight: bold;
}
